# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE - PyCharm
.idea/
*.iml
*.iws

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
